<p>
  <strong>來自:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>回應:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to '刪除留言', [comment.article, comment],
               method: :delete,
               data: { confirm: '確定要刪除留言?' } %>
</p>