<div class="jumbotron">
	<div class="container">
		  	<h1>Welcome  Aboard</h1>
		  	<p>這是我最初的Ruby on Rails作品，是一個簡單的留言版，參考Rails官方指南 (guides.rubyonrails.org/) 所建構，部署於Heroku，並完成了簡單的前端設計(使用Bootstrap)。</p>
	<center>
		  	<p><!--%= link_to "點此進留言列表"  , controller: 'articles' %-->	
				<%= link_to "Enter" , articles_path , class: "btn btn-lg btn-success"%>
			</p>	
	</center>
	</div>
</div>





